node_modules
.env.local
.env.develpment
.env.production
**/.env.development
*.development
*.development
*.development
.env.development
*.development
.env.development
.env.development
ecc-backend-key.pem